@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
	<div class="col-md-4">
		<p>
			@Html.ActionLink("Список больничных", "ListSickLeaves", "Employee")
		</p>
		<p>
			@Html.ActionLink("Список премий/штрафов", "ListBonusOrFines", "Employee")
		</p>

		<p>
			@Html.ActionLink("Расчитать зарплату", "CalculateSalary")
		</p>
		<p>
			@Html.ActionLink("Просмотреть список зарплат", "ListPaymentAccounts")
		</p>
		<p>
			@Html.ActionLink("Назад", "Index", "Employee")
		</p>

	</div>
	<div class="col-md-4">

	</div>
</div>