@model IEnumerable<FinalTaskShop.ViewModels.ForEmployee.PaymentAccountViewModel>

@{
	ViewBag.Title = "ListPaymentAccounts";
}

<h2>Список зарплат работников</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Имя")
		</th>
		<th>
			@Html.DisplayName("Фамилия")
		</th>
		<th>
			@Html.DisplayName("Отчество")
		</th>
		<th>
			@Html.DisplayName("День зарплаты")
		</th>
		<th>
			@Html.DisplayName("Размер зарплаты")
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.Name)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.SurName)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Patronymic)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Payday)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Salary)
	</td>
	<td>
		@Html.ActionLink("Удалить", "DeletePaymentAccount", new { id = item.Id })
	</td>
</tr>
	}

</table>

<div>
	@Html.ActionLink("Назад", "Index")
</div>

