@model FinalTaskShop.ViewModels.ForGood.ReportOfSaleViewModel

@{
	ViewBag.Title = "DeleteReportOfSale";
}

<h3>Вы точно хотите удалить данные?</h3>
<div>
	<dl class="dl-horizontal">
		
		<dt>
			@Html.DisplayName("Количество проданного товара")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuantityOfSales)
		</dd>

		<dt>
			@Html.DisplayName("Название товара")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TitleOfGood)
		</dd>		
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Удалить" class="btn btn-default" /> |
			@Html.ActionLink("Назад", "ListReportOfSales")
		</div>
	}
</div>