@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<p>
			@Html.ActionLink("Список должностей", "ListPositions")
		</p>
		<p>
			@Html.ActionLink("Список работников", "ListEmployees")
		</p>
		<p>
			@Html.ActionLink("Список штрафов/премий", "ListBonusOrFines")
		</p>
		<p>
			@Html.ActionLink("Список больничных", "ListSickLeaves")
		</p>
		<p>
			@Html.ActionLink("Список арендуемых помещений", "Index", "RentalSpace")
		</p>
		<p>
			@Html.ActionLink("Товар", "Index", "Home");
		</p>

	</div>
	<div class="col-md-4">

	</div>
</div>